[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
gitpython = "*"
parse-lisp = {editable = true,path = "./../parse-lisp"}
06c0506 = {editable = true,path = "./../loltree"}
loltree = {editable = true,path = "./../loltree"}
zss = "*"

[requires]
python_version = "3.7"
